@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <button class="btn btn-info" title="Login..." data-bs-toggle="modal" data-bs-target="#staticModal">
        Login
    </button>
</div>

<script>
    $(".btn-info").click(function (event) {
        debugger;
        $("#staticModalBody").load("/Login")

    });
</script>
