@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<form id="frmPassword" method="post" asp-action="Biodata">
    <div class="card">
        <div class="card-header text-info" style="font-size:27px;"><strong>@ViewBag.Title</strong></div>
        <div class="card-body">
            <input type="hidden" id="valEmail" name="Email" value="@ViewBag.Email" />
            <input type="hidden" id="valOTP" name="OTP" value="@ViewBag.OtpCode" />
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div>Masukkan password baru untuk akun anda</div>
                    <div>&nbsp;</div>

                    <label><i>Password</i><sup class="text-danger">*</sup></label>
                    <input class="form-control" id="valPassword" type="password" name="Password" placeholder="Insert your password..." />


                </div>
                <div class="col-1 text-start">
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <i id="mata" class="fas fa-eye"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div>&nbsp;</div>

                    <label><i>Kirim ulang password</i><sup class="text-danger">*</sup></label>
                    <input class="form-control" id="valPassVerif" type="password" name="valPass" placeholder="Insert your password..." />

                    <div id="passStrong"></div>
                </div>
                <div class="col-1 text-start">
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <i id="mataSlash" class="fas fa-eye"></i>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button id="btnOTP" type="submit" class="btn btn-primary">Atur Password</button>
        </div>
    </div>
</form>

<script>
    //create method for password validator
    $.validator.addMethod(
        "HurufKecil",
        function (value, element, params) {
            var result = false;

            $.ajax({
                url: "/LupaPassword/KurangHurufK/",
                type: "post",
                data: { Password: value },
                dataType: "json",
                async: false,
                success: function (response) {
                    result = response;
                },
                error: function (errResponse) {
                    debugger;
                    alert(response.message);
                    result = false;
                }
            });

            return result;
        },
        "Password kurang huruf kecil"
    );
    $.validator.addMethod(
        "HurufBesar",
        function (value, element, params) {
            var result = false;

            $.ajax({
                url: "/LupaPassword/KurangHurufB/",
                type: "post",
                data: { Password: value },
                dataType: "json",
                async: false,
                success: function (response) {
                    result = response;
                },
                error: function (errResponse) {
                    debugger;
                    alert(response.message);
                    result = false;
                }
            });

            return result;
        },
        "*Password kurang huruf besar"
    );
    $.validator.addMethod(
        "Simbol",
        function (value, element, params) {
            var result = false;

            $.ajax({
                url: "/LupaPassword/KurangSimbol/",
                type: "post",
                data: { Password: value },
                dataType: "json",
                async: false,
                success: function (response) {
                    result = response;
                },
                error: function (errResponse) {
                    debugger;
                    alert(response.message);
                    result = false;
                }
            });

            return result;
        },
        "*Password kurang simbol"
    );
    $.validator.addMethod(
        "Angka",
        function (value, element, params) {
            var result = false;

            $.ajax({
                url: "/LupaPassword/KurangAngka/",
                type: "post",
                data: { Password: value },
                dataType: "json",
                async: false,
                success: function (response) {
                    result = response;
                },
                error: function (errResponse) {
                    debugger;
                    alert(response.message);
                    result = false;
                }
            });

            return result;
        },
        "*Password kurang Angka"
    );


    //validator check
    $("#frmPassword").validate({
        errorClass: "text-danger",
        rules: {
            Password: {
                "required": true,
                "minlength": 8,
                "HurufKecil": true,
                "HurufBesar": true,
                "Simbol": true,
                "Angka": true
            }
        },
        messages: {
            Password: {
                "required": "*Silahkan set password terlebih dahulu",
                "minlength": "*Password minimal harus terdiri dari 8 karakter",
                "HurufKecil": "*Password kurang huruf kecil",
                "HurufBesar": "*Password kurang huruf besar",
                "Simbol": "*Password kurang simbol",
                "Angka": "*Password kurang angka"
            }
        },
        submitHandler: function () {
            debugger;
            return false;
        }
    });
    $("#frmPassword").submit(function (event) {
        event.preventDefault();

        let data = {
            email: $("#valEmail").val(),
            OTP: $("#valOTP").val(),
            password: $("#valPassword").val(),
            passVerif: $("#valPassVerif").val()
        };
        let password = $("#valPassword").val();
        let passVal = $("#valPassVerif").val();
        debugger;

        if ($("#frmPassword").valid()) {

            if (password == passVal) {
                let data2 = $("#frmPassword").serialize()
                $.ajax({
                    url: "/LupaPassword/InputData/",
                    type: "post",
                    data: data2,
                    dataType: "json",
                    success: function (response) {
                        debugger;
                        if (response.statusCode == 201) {
                            location.reload();
                        }
                    },
                    error: function (errResponse) {
                        debugger;
                        alert("Process Failed");
                    }
                })
            }
            else {
                let strongPass = $("#passStrong").text();
                if (strongPass == "") {
                    $("#passStrong").append('<div class="text-danger"> <i><sup class="text-danger">*</sup>Konfirmasi password tidak sesuai</i></div >');
                }

            }

        }
    });
    $("#mata").click(() => {
        if ($("#valPassword").attr("type") == "password") {
            $("#valPassword").attr("type", "text");
            $("#mata").removeClass("fa-eye").addClass("fa-eye-slash");
        }
        else {
            $("#valPassword").attr("type", "password");
            $("#mata").removeClass("fa-eye-slash").addClass("fa-eye");
        }
    })
    $("#mataSlash").click(() => {
        if ($("#valPassVerif").attr("type") == "password") {
            $("#valPassVerif").attr("type", "text");
            $("#mataSlash").removeClass("fa-eye").addClass("fa-eye-slash");
        }
        else {
            $("#valPassVerif").attr("type", "password");
            $("#mataSlash").removeClass("fa-eye-slash").addClass("fa-eye");
        }
    })

</script>
