@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<VMTblMEducationLevel>
@{
}
<div class="card">
    <div class="card-header text-center fw-blow d-flex" style="background-color:#ADDFFF">
        <a title="Ke Home" class="navbar-brand text-black" asp-controller="Admin" asp-action="Index"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="card-body mb-5" style="background-color:#F0FFFF">
        <div class="d-flex justify-content-between">
            <form id="frmFind" class="input-group w-50">
                <input id="txtFilter" name="filter" placeholder="Mencari Berdasarkan Jenjang Pendidikan" class="form-control" />
                <button id="btnFilter" type="submit" class="input-group-text"><i class="fas fa-search"></i></button>
            </form>
        </div>
    
        <table class="table table-striped">
            <thead>
                <tr style="background-color:#ADDFFF">
                    <td class="col-2 h4 fw-bold">ID</td>
                    <td class="col-9 h4 fw-bold">Jenjang Pendidikan</td>
                    <td class="col-1 text-center h5 fw-bold">
                        <button class="btn btn-dark text-black" style="background-color:#ADDFFF" id="frmAddPaymentMethodIndex" title="Tambah Metode Pembayaran"
                                data-bs-target="#staticModal" data-bs-toggle="modal">
                            <i class="fas fa-plus fw-bold"></i>
                        </button>
                    </td>
                </tr>
            </thead>
            <tbody>
                @if(Model.Count > 0)
                {
                    @foreach (VMTblMEducationLevel data in Model)
                    {
                        <tr>
                            <td>@data.Id</td>
                            <td>@data.Name</td>
                            <td class="dropdown text-center" title="Setting">
                                <a class="nav-link text-dark dropdown-toggle" role="button" id="DropSetPaymentMethod" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-wrench"></i></a>
                                <ul class="dropdown-menu" style="background-color:#D3E3FC" aria-labelledby="DropSetPaymentMethod">
                                    <li>
                                        <button class="dropdown-item btn btn-warning fw-bold" style="background-color:#D3E3FC" data-id="@data.Id" title="Edit.." data-bs-toggle="modal" data-bs-target="#staticModal">
                                            <i class="fas fa-edit"></i> Edit
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item btn btn-danger fw-bold" style="background-color:#D3E3FC" data-id="@data.Id" title="Hapus.." data-bs-toggle="modal" data-bs-target="#staticModal">
                                            <i class="fas fa-trash"></i> Hapus
                                        </button>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr style="background-color:#ADDFFF">
                        <td colspan="3" class="text-center">Data Tidak Ditemukan</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(".btn-dark").click(function (event) {
        $("#staticModalLabel").html("Education Level Add Confirmation");
        debugger;

        //Membaca ke kontroller Add lalu ke View Add
        $("#staticModalBody").load("/EducationLevel/Add/");
    })

    $(".btn-warning").click(function (event) {
        let edlevelId = $(this).data("id")
        debugger;
        $("#staticModalLabel").html("Education Level Edit Confirmation");

        $("#staticModalBody").load("/EducationLevel/Edit/" + edlevelId);
    })

    $(".btn-danger").click(function (event) { 
        let edlevelId = $(this).data("id")
        $("#staticModalLabel").html("Education Level Delete Confirmation");

        $("#staticModalBody").load("/EducationLevel/Delete/" + edlevelId);
        debugger;
    })
</script>