@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model long
@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <span>Apakah anda akan menghapus golongan darah <b>@ViewBag.Name</b></span>
    </div>
    <div class="card-footer text-end">
        <button id="btnDelete" type="button" class="btn btn-danger">Ya</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Tidak</button>
    </div>
</div>

<script>
    $("#btnDelete").click(() => {
        $.ajax({
            url: "/BloodGroup/Delete",
            type: "post",
            data: {"id": @Model, "userId":3},
            dataType: "json",
            beforeSend:function(){

            },
            success: function(response){
                if(response.statusCode == 200 || response.statusCode == 201){
                    location.reload();
                }
                else {
                    alert(response.message);
                }
            },
            error: function(errResponse){
                alert("proses gagal");
            }
        });
    });
</script>